In [1]:
# Connection
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="miniproject"
)

mycursor = mydb.cursor()

# database
# mycursor.execute("CREATE DATABASE university")

# creation of table
mycursor.execute("CREATE TABLE `book`( `id` INT(10) NOT NULL , `Name` VARCHAR(50) NOT NULL , `price` INT(25) NOT NULL , PRIMARY KEY (`id`))")

In [2]:
# inserting single record
mycursor.execute("INSERT INTO `book` (`id`, `Name`, `price`) VALUES ('100', 'Harry Potter and the Sorcerer’s Stone', '2000')")
mydb.commit()
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [3]:
# inserting multiple record
sql = "INSERT INTO book (id,name,price) VALUES (%s, %s,%s)"
val = [
    ("101", "Island of the Blue Dolphins", "1500"),
    ("112", "julius caeser’s ", "2500"),
    ("104", "The final problem", "3000"),
    ("120", "Harry Potter and the Prisoner of Azkaban", "1200"),
    ("102", "Harry Potter and the Order of the phoenix", "2300")
]

mycursor.executemany(sql, val)
mydb.commit()

print(mycursor.rowcount, "record(s) inserted.")

5 record(s) inserted.

In [4]:
# display
mycursor.execute("SELECT * FROM book")
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(100, 'Harry Potter and the Sorcerer’s Stone', 2000)
(101, 'Island of the Blue Dolphins', 1500)
(112, 'julius caeser’s ', 2500)
(104, 'The final problem', 3000)
(120, 'Harry Potter and the Prisoner of Azkaban', 1200)
(102, 'Harry Potter and the Order of the phoenix', 2300)

In [5]:
# order
mycursor.execute("SELECT * FROM book ORDER BY id ASC")
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(100, 'Harry Potter and the Sorcerer’s Stone', 2000)
(101, 'Island of the Blue Dolphins', 1500)
(102, 'Harry Potter and the Order of the phoenix', 2300)
(104, 'The final problem', 3000)
(112, 'julius caeser’s ', 2500)
(120, 'Harry Potter and the Prisoner of Azkaban', 1200)

In [6]:
# search
mycursor.execute("SELECT * FROM book WHERE id ='100'")
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(100, 'Harry Potter and the Sorcerer’s Stone', 2000)

In [7]:
# delete
mycursor.execute("DELETE FROM book WHERE price = '3000'")

In [8]:
mycursor.execute("SELECT * FROM book")
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(100, 'Harry Potter and the Sorcerer’s Stone', 2000)
(101, 'Island of the Blue Dolphins', 1500)
(112, 'julius caeser’s ', 2500)
(120, 'Harry Potter and the Prisoner of Azkaban', 1200)
(102, 'Harry Potter and the Order of the phoenix', 2300)

In [9]:
mycursor.execute("UPDATE book SET price = '3000' WHERE id = '100'")

In [10]:
mycursor.execute("SELECT * FROM book")
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(100, 'Harry Potter and the Sorcerer’s Stone', 3000)
(101, 'Island of the Blue Dolphins', 1500)
(112, 'julius caeser’s ', 2500)
(120, 'Harry Potter and the Prisoner of Azkaban', 1200)
(102, 'Harry Potter and the Order of the phoenix', 2300)

In [11]:
mycursor.execute("DROP TABLE book")

In [12]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('admission',)